.nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0.383);
}

.mainContainer {
  display: flex;
  background-color: rgba(0, 0, 0, 0);
  padding: 2rem;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 2rem;
}

.buttonLink {
  border-radius: 8px;
  padding: 6px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  transition: background-color 0.3s;
}

.buttonLink:hover {
  background-color: black;
  color: #ffffff
}

.select {
  border-radius: 8px;
  margin: 0 8px;
  padding: 6px;
}
